<template>
  <div id="demo2">
    <h1>Demo2 : Event & Methods</h1>
    <button v-on:click="clickMe">Click Me</button>
    <button v-on:click="clickMe2('Famz')">Click Me</button>
    <button @click="clickMe2('Welcome Famz')">Click Me</button>
    <h3>{{getTimestamp()}}</h3>
  </div>
</template>

<script>
export default {
  name: "demo2",
  mounted() {
    this.initial();
  },
  methods: {
    initial() {
      console.log("Initialization");
    },
    clickMe() {
      alert("Hi");
    },
    clickMe2(message) {
      alert(message);
    },
    getTimestamp() {
      return new Date();
    }
  }
};
</script>

<style>
</style>