<template>
  <div id="demo6">
    <h1>Demo6 : Form</h1>
    <form v-on:submit.prevent="onSubmit">
      <!-- First Name -->
      <div>
        <label for="firstname">Firstname: </label>
        <input type="text" v-model.trim="applicant.firstname" />
      </div>

      <!-- Last Name -->
      <div style="margin-top:16px;">
        <label for="lastname">Lirstname: </label>
        <input type="text" v-model.trim="applicant.lastname" />
      </div>

      <!-- Sex -->
      <div style="margin-top:16px;">
        <input type="radio" value="male" v-model="applicant.sex" />
        <label for="sex">Male</label>

        <input type="radio" value="female" v-model="applicant.sex" />
        <label for="sex">Female</label>
      </div>

      <div style="margin-top:16px;">
        <label for="age">Age: </label>
        <input type="number" v-model.number="applicant.age" />
      </div>

      <!-- Courses -->
      <div style="margin-top:16px; margin-bottom:16px;">
        <select name="courses" v-model="applicant.courses">
          <option value="react">React</option>
          <option value="angular">Angular</option>
          <option value="vuejs">Vue</option>
        </select>
      </div>

      <!-- เพิ่ม optione ในการ click => click.exact เป็นการ click ปกติ ทำ function onClear() , click.alt เป็นการ กด alt + click ทำ function userDefault() -->
      <button type="button" @click.exact="onClear()" @click.alt="useDefault()">
        clear
      </button>
      <button type="submit">Submit</button>
    </form>

    <div style="margin-top: 16px; color:red;">
      #Spy {{ JSON.stringify(applicant) }}
    </div>
  </div>
</template>

<script>
export default {
  name: "demo6",
  methods: {
    onClear() {
      this.applicant = {
        firstname: "",
        lastname: "",
        sex: "male",
        courses: "react",
        age: 0,
      };
    },
    onSubmit() {
      // event.preventDefault(); // ป้องกันการ refresh หน้าจอหลังจากกดปุ่ม submit
      alert(JSON.stringify(this.applicant));
    },
    useDefault() {
      this.applicant = {
        firstname: "UNKNOWN",
        lastname: "UNKNOWN",
        sex: "male",
        courses: "react",
        age: 15,
      };
    },
  },
  data() {
    return {
      applicant: {
        firstname: "",
        lastname: "",
        sex: "male",
        courses: "react",
        age: 0,
      },
    };
  },
};
</script>

<style></style>
