<template>
  <div id="demo3">
    <h1>Demo3 : Data & Variables</h1>
    <span>{{count}}</span>
    <button @click="count++">Count++</button>
    <div>{{message}}</div>
    <div>{{isLogged}}</div>
    <input type="text" placeholder="Enter a message" v-model="message" />
    <h2 v-if="message== 'ทดสอบ'">Test</h2>
    <div>{{account}}</div>
    <div>{{courses}}</div>
    <ul>
      <li v-for="(item, index) in courses" :key="index">{{courses[index]}}</li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "demo3",
  mounted() {
    this.message = "Welocome to VueJS";
  },
  data() {
    return {
      count: 0,
      message: "",
      isLogged: false,
      account: {
        username: "admin",
        password: "1234"
      },
      courses: ["Angular", "VueJS", "ReactJS", "Flutter"]
    };
  }
};
</script>

<style scoped>
li {
  color: crimson;
}
</style>