<template>
  <div id="demo1">
    <h1>{{title}} : v-model</h1>
    <!-- MVVM -->
    <input v-model="message" type="text" placeholder="enter your text" />
    <div>{{message}}</div>
    <button @click="onReset()">Reset</button>
  </div>
</template>

<script>
export default {
  name: "demo1",
  data() {
    return {
      title: "Demo1",
      message: ""
    };
  },
  methods: {
    // การอ้างตัวแปลใน component จะต้องมี this นำหน้าเสมอ
    onReset() {
      this.message = "";
    }
  }
};
</script>

<style>
</style>