<template>
  <!-- Binding ใช้กับการ bind attribute ของ tag ต่างๆ -->
  <div id="demo5">
    <v-container>
      <h1>Demo5 : Binding</h1>
      <img v-bind:src="imageUrl" v-bind:height="height" v-bind:width="width" />
      <br />
      <!-- Short form ใช้ ':href' แทน v-bind:href -->
      <a :href="line">My Facebook</a>
      <div :class="[success, size]">VueJS Demo</div>

      <!-- สามารถใส่เงื่อนไขเข้าไปได้ -->
      <div :class="[false ? success : '', size]">VueJS Demo</div>

      <div :style="{color, fontWeight:fontweight, fontSize:fontsize}">Binding Style</div>
      <div :style="isActive ? styleObj : ''">Binding Style Obj</div>
      <button @click="onToggle()">Toggle</button>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "demo5",
  methods: {
    onToggle() {
      this.isActive = !this.isActive;
    }
  },
  data() {
    return {
      isActive: false,
      height: "400",
      width: "100%",
      imageUrl:
        "https://cdn.pixabay.com/photo/2015/07/27/20/27/mockup-863469_960_720.jpg",
      line: "https://www.facebook.com",
      success: "success_class",
      size: "font_class",
      color: "green",
      fontweight: "bold",
      fontsize: "30px",
      styleObj: {
        fontSize: "80px",
        color: "deeppink"
      }
    };
  }
};
</script>

<style>
.success_class {
  background-color: darkgreen;
  color: white;
}

.font_class {
  font-size: 60px;
  font-weight: bold;
}
</style>