<template>
  <div id="demo4">
    <h1>Demo4 : Compute</h1>
    <h2>{{firstname}}</h2>
    <h2>{{lastname}}</h2>
    <h2>{{fullname}}</h2>
    <h1 style="background-color:gray;">Random No from computed property: {{getrandomno}}</h1>
    <h1>Random No from method: {{getrandomno1()}}</h1>
    <h1>Random No from method : {{getrandomno1()}}</h1>
    <h1 style="background-color:gray;">Random No from computed property: {{getrandomno}}</h1>
    <h1 style="background-color:gray;">Random No from computed property: {{getrandomno}}</h1>
    <h1 style="background-color:gray;">
      Random No from computed
      property: {{getrandomno}}
    </h1>
    <h1>Random No from method: {{getrandomno1()}}</h1>
    <h1>Random No from method: {{getrandomno1()}}</h1>
  </div>
</template>

<script>
export default {
  name: "demo4",
  methods: {
    getrandomno1: function() {
      return Math.random();
    }
  },
  data() {
    return {
      firstname: "Atiphu",
      lastname: "Songnuan"
    };
  },
  //เวลาทำการอ้างไม่ต้องใส่ () และ ผลลัพธ์ที่ได้จะเป็นค่าล่าสุดเท่านั้น กรณีมีการอ้างถึง compute ในหลายๆจุดค่าที่ได้จะเป็นค่าเดียวกันทั้งหมด
  computed: {
    fullname() {
      return this.firstname + " " + this.lastname;
    },
    getrandomno: function() {
      return Math.random();
    }
  }
};
</script>

<style>
</style>