#app{
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-align: center; */
    color: #2c3e50;
}

ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
    margin-right: 8px;
  }