<template>
  <div id="app">
    <ul>
      <li>
        <router-link to="/"><button>Home</button></router-link>
      </li>
      <li>
        <router-link to="/demo1"><button>Demo1 Intro</button></router-link>
      </li>
      <li>
        <router-link to="/demo2"
          ><button>Demo2 Events & Methods</button></router-link
        >
      </li>
      <li>
        <router-link to="/demo3"><button>Demo3 Data</button></router-link>
      </li>
      <li>
        <router-link to="/demo4"><button>Demo4 Compute</button></router-link>
      </li>
      <li>
        <router-link to="/demo5"><button>Demo5 Binding</button></router-link>
      </li>
      <li>
        <router-link to="/demo6"><button>Demo6 Form</button></router-link>
      </li>
    </ul>
    <!-- เช็ค Router -->
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: "app",
};
</script>

<style scoped src="./App.css">
/* @import "../src/App.css"; */
</style>
